 
/* start css.sty */
.cmr-7{font-size:70%;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-7{font-size:70%;}
.larm-1728{font-size:170%;}
.larm-1200{font-size:120%;}
.latt-1000{font-family: monospace;}
.latt-1000{font-family: monospace;}
.labx-1000{font-weight: bold;}
.lati-1000{font-style: italic;}
.latt-0800{font-size:80%;font-family: monospace;}
.latt-0800{font-family: monospace;}
.larm-0500{font-size:50%;}
.labi-1000{font-style: italic; font-weight: bold;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
.rotatebox{display: inline-block;}
.figure img.graphics {margin-left:10%;}
P.fancyvrb {white-space: nowrap; margin:0em;}
.framedenv{border: 1px solid black;}
div#fancyvrb1{padding:5.69054pt;}
div#fancyvrb1{ border-top: solid 0.4pt; }
div#fancyvrb1{ border-bottom: solid 0.4pt; }
span#textcolor1{color:rgb(0,112,33)}
span#textcolor2{color:rgb(63,112,160)}
div#fancyvrb2{padding:5.69054pt;}
div#fancyvrb2{ border-top: solid 0.4pt; }
div#fancyvrb2{ border-bottom: solid 0.4pt; }
span#textcolor3{color:rgb(0,112,33)}
span#textcolor4{color:rgb(63,112,160)}
div#fancyvrb3{padding:5.69054pt;}
div#fancyvrb3{ border-top: solid 0.4pt; }
div#fancyvrb3{ border-bottom: solid 0.4pt; }
span#textcolor5{color:rgb(0,112,33)}
span#textcolor6{color:rgb(12,132,181)}
div#fancyvrb4{padding:5.69054pt;}
div#fancyvrb4{ border-top: solid 0.4pt; }
div#fancyvrb4{ border-bottom: solid 0.4pt; }
span#textcolor7{color:rgb(0,112,33)}
span#textcolor8{color:rgb(63,112,160)}
div#fancyvrb5{padding:5.69054pt;}
div#fancyvrb5{ border-top: solid 0.4pt; }
div#fancyvrb5{ border-bottom: solid 0.4pt; }
span#textcolor9{color:rgb(101,101,101)}
span#textcolor10{color:rgb(63,160,112)}
div#fancyvrb6{padding:5.69054pt;}
div#fancyvrb6{ border-top: solid 0.4pt; }
div#fancyvrb6{ border-bottom: solid 0.4pt; }
span#textcolor11{color:rgb(101,101,101)}
span#textcolor12{color:rgb(63,160,112)}
span#textcolor13{color:rgb(0,112,33)}
div#fancyvrb7{padding:5.69054pt;}
div#fancyvrb7{ border-top: solid 0.4pt; }
div#fancyvrb7{ border-bottom: solid 0.4pt; }
span#textcolor14{color:rgb(101,101,101)}
span#textcolor15{color:rgb(63,160,112)}
span#textcolor16{color:rgb(101,101,101)}
span#textcolor17{color:rgb(63,160,112)}
span#textcolor18{color:rgb(0,112,33)}
span#textcolor19{color:rgb(101,101,101)}
span#textcolor20{color:rgb(0,112,33)}
span#textcolor21{color:rgb(101,101,101)}
div#fancyvrb8{padding:5.69054pt;}
div#fancyvrb8{ border-top: solid 0.4pt; }
div#fancyvrb8{ border-bottom: solid 0.4pt; }
span#textcolor22{color:rgb(101,101,101)}
span#textcolor23{color:rgb(63,160,112)}
div#fancyvrb9{padding:5.69054pt;}
div#fancyvrb9{ border-top: solid 0.4pt; }
div#fancyvrb9{ border-bottom: solid 0.4pt; }
span#textcolor24{color:rgb(101,101,101)}
span#textcolor25{color:rgb(63,160,112)}
span#textcolor26{color:rgb(101,101,101)}
span#textcolor27{color:rgb(0,112,33)}
span#textcolor28{color:rgb(0,112,33)}
div#fancyvrb10{padding:5.69054pt;}
div#fancyvrb10{ border-top: solid 0.4pt; }
div#fancyvrb10{ border-bottom: solid 0.4pt; }
span#textcolor29{color:rgb(0,112,33)}
span#textcolor30{color:rgb(63,160,112)}
span#textcolor31{color:rgb(101,101,101)}
span#textcolor32{color:rgb(63,160,112)}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
div#fancyvrb11{padding:5.69054pt;}
div#fancyvrb11{ border-top: solid 0.4pt; }
div#fancyvrb11{ border-bottom: solid 0.4pt; }
span#textcolor33{color:rgb(101,101,101)}
span#textcolor34{color:rgb(63,160,112)}
span#textcolor35{color:rgb(101,101,101)}
span#textcolor36{color:rgb(63,160,112)}
span#textcolor37{color:rgb(101,101,101)}
span#textcolor38{color:rgb(101,101,101)}
div#fancyvrb12{padding:5.69054pt;}
div#fancyvrb12{ border-top: solid 0.4pt; }
div#fancyvrb12{ border-bottom: solid 0.4pt; }
span#textcolor39{color:rgb(101,101,101)}
span#textcolor40{color:rgb(63,160,112)}
span#textcolor41{color:rgb(101,101,101)}
span#textcolor42{color:rgb(63,160,112)}
span#textcolor43{color:rgb(0,112,33)}
span#textcolor44{color:rgb(101,101,101)}
div#fancyvrb13{padding:5.69054pt;}
div#fancyvrb13{ border-top: solid 0.4pt; }
div#fancyvrb13{ border-bottom: solid 0.4pt; }
span#textcolor45{color:rgb(0,112,33)}
span#textcolor46{color:rgb(0,112,33)}
span#textcolor47{color:rgb(0,112,33)}
div#fancyvrb14{padding:5.69054pt;}
div#fancyvrb14{ border-top: solid 0.4pt; }
div#fancyvrb14{ border-bottom: solid 0.4pt; }
span#textcolor48{color:rgb(101,101,101)}
span#textcolor49{color:rgb(63,160,112)}
span#textcolor50{color:rgb(101,101,101)}
span#textcolor51{color:rgb(63,160,112)}
span#textcolor52{color:rgb(0,112,33)}
span#textcolor53{color:rgb(101,101,101)}
div#fancyvrb15{padding:5.69054pt;}
div#fancyvrb15{ border-top: solid 0.4pt; }
div#fancyvrb15{ border-bottom: solid 0.4pt; }
span#textcolor54{color:rgb(101,101,101)}
span#textcolor55{color:rgb(63,160,112)}
span#textcolor56{color:rgb(101,101,101)}
span#textcolor57{color:rgb(63,160,112)}
span#textcolor58{color:rgb(0,112,33)}
span#textcolor59{color:rgb(101,101,101)}
div#fancyvrb16{padding:5.69054pt;}
div#fancyvrb16{ border-top: solid 0.4pt; }
div#fancyvrb16{ border-bottom: solid 0.4pt; }
span#textcolor60{color:rgb(101,101,101)}
span#textcolor61{color:rgb(63,160,112)}
span#textcolor62{color:rgb(101,101,101)}
span#textcolor63{color:rgb(63,160,112)}
span#textcolor64{color:rgb(101,101,101)}
span#textcolor65{color:rgb(101,101,101)}
span#textcolor66{color:rgb(101,101,101)}
span#textcolor67{color:rgb(101,101,101)}
span#textcolor68{color:rgb(101,101,101)}
div#fancyvrb17{padding:5.69054pt;}
div#fancyvrb17{ border-top: solid 0.4pt; }
div#fancyvrb17{ border-bottom: solid 0.4pt; }
span#textcolor69{color:rgb(0,112,33)}
span#textcolor70{color:rgb(101,101,101)}
#colorbox71{border: solid 1px rgb(255,0,0);}
#colorbox71{background-color: rgb(255,255,255);}
span#textcolor72{color:rgb(63,160,112)}
span#textcolor73{color:rgb(101,101,101)}
span#textcolor74{color:rgb(101,101,101)}
#colorbox75{border: solid 1px rgb(255,0,0);}
#colorbox75{background-color: rgb(255,255,255);}
span#textcolor76{color:rgb(63,160,112)}
span#textcolor77{color:rgb(101,101,101)}
span#textcolor78{color:rgb(0,112,33)}
span#textcolor79{color:rgb(101,101,101)}
#colorbox80{border: solid 1px rgb(255,0,0);}
#colorbox80{background-color: rgb(255,255,255);}
span#textcolor81{color:rgb(63,160,112)}
span#textcolor82{color:rgb(101,101,101)}
span#textcolor83{color:rgb(101,101,101)}
#colorbox84{border: solid 1px rgb(255,0,0);}
#colorbox84{background-color: rgb(255,255,255);}
span#textcolor85{color:rgb(63,160,112)}
span#textcolor86{color:rgb(101,101,101)}
span#textcolor87{color:rgb(101,101,101)}
span#textcolor88{color:rgb(0,112,33)}
span#textcolor89{color:rgb(101,101,101)}
#colorbox90{border: solid 1px rgb(255,0,0);}
#colorbox90{background-color: rgb(255,255,255);}
span#textcolor91{color:rgb(101,101,101)}
span#textcolor92{color:rgb(101,101,101)}
#colorbox93{border: solid 1px rgb(255,0,0);}
#colorbox93{background-color: rgb(255,255,255);}
span#textcolor94{color:rgb(101,101,101)}
span#textcolor95{color:rgb(0,112,33)}
span#textcolor96{color:rgb(101,101,101)}
#colorbox97{border: solid 1px rgb(255,0,0);}
#colorbox97{background-color: rgb(255,255,255);}
span#textcolor98{color:rgb(101,101,101)}
div#fancyvrb18{padding:5.69054pt;}
div#fancyvrb18{ border-top: solid 0.4pt; }
div#fancyvrb18{ border-bottom: solid 0.4pt; }
span#textcolor99{color:rgb(0,112,33)}
span#textcolor100{color:rgb(101,101,101)}
span#textcolor101{color:rgb(63,160,112)}
span#textcolor102{color:rgb(101,101,101)}
span#textcolor103{color:rgb(101,101,101)}
span#textcolor104{color:rgb(63,160,112)}
span#textcolor105{color:rgb(0,112,33)}
span#textcolor106{color:rgb(101,101,101)}
span#textcolor107{color:rgb(63,160,112)}
span#textcolor108{color:rgb(101,101,101)}
span#textcolor109{color:rgb(101,101,101)}
span#textcolor110{color:rgb(63,160,112)}
div#fancyvrb19{padding:5.69054pt;}
div#fancyvrb19{ border-top: solid 0.4pt; }
div#fancyvrb19{ border-bottom: solid 0.4pt; }
span#textcolor111{color:rgb(0,112,33)}
span#textcolor112{color:rgb(101,101,101)}
span#textcolor113{color:rgb(63,160,112)}
span#textcolor114{color:rgb(101,101,101)}
span#textcolor115{color:rgb(101,101,101)}
span#textcolor116{color:rgb(63,160,112)}
span#textcolor117{color:rgb(0,112,33)}
span#textcolor118{color:rgb(101,101,101)}
span#textcolor119{color:rgb(101,101,101)}
span#textcolor120{color:rgb(63,160,112)}
div#fancyvrb20{padding:5.69054pt;}
div#fancyvrb20{ border-top: solid 0.4pt; }
div#fancyvrb20{ border-bottom: solid 0.4pt; }
span#textcolor121{color:rgb(0,112,33)}
span#textcolor122{color:rgb(101,101,101)}
span#textcolor123{color:rgb(63,160,112)}
span#textcolor124{color:rgb(101,101,101)}
span#textcolor125{color:rgb(101,101,101)}
span#textcolor126{color:rgb(63,160,112)}
div#fancyvrb21{padding:5.69054pt;}
div#fancyvrb21{ border-top: solid 0.4pt; }
div#fancyvrb21{ border-bottom: solid 0.4pt; }
span#textcolor127{color:rgb(101,101,101)}
span#textcolor128{color:rgb(63,160,112)}
span#textcolor129{color:rgb(0,112,33)}
span#textcolor130{color:rgb(101,101,101)}
span#textcolor131{color:rgb(63,160,112)}
span#textcolor132{color:rgb(0,112,33)}
span#textcolor133{color:rgb(63,112,160)}
span#textcolor134{color:rgb(0,112,33)}
span#textcolor135{color:rgb(0,112,33)}
span#textcolor136{color:rgb(63,112,160)}
div#fancyvrb22{padding:5.69054pt;}
div#fancyvrb22{ border-top: solid 0.4pt; }
div#fancyvrb22{ border-bottom: solid 0.4pt; }
span#textcolor137{color:rgb(0,112,33)}
span#textcolor138{color:rgb(101,101,101)}
span#textcolor139{color:rgb(101,101,101)}
span#textcolor140{color:rgb(63,160,112)}
span#textcolor141{color:rgb(0,112,33)}
span#textcolor142{color:rgb(63,160,112)}
span#textcolor143{color:rgb(0,112,33)}
span#textcolor144{color:rgb(101,101,101)}
span#textcolor145{color:rgb(101,101,101)}
span#textcolor146{color:rgb(63,160,112)}
span#textcolor147{color:rgb(0,112,33)}
span#textcolor148{color:rgb(63,160,112)}
span#textcolor149{color:rgb(0,112,33)}
span#textcolor150{color:rgb(0,112,33)}
span#textcolor151{color:rgb(101,101,101)}
span#textcolor152{color:rgb(63,160,112)}
div#fancyvrb23{padding:5.69054pt;}
div#fancyvrb23{ border-top: solid 0.4pt; }
div#fancyvrb23{ border-bottom: solid 0.4pt; }
span#textcolor153{color:rgb(0,112,33)}
span#textcolor154{color:rgb(101,101,101)}
span#textcolor155{color:rgb(101,101,101)}
span#textcolor156{color:rgb(63,160,112)}
span#textcolor157{color:rgb(0,112,33)}
span#textcolor158{color:rgb(101,101,101)}
span#textcolor159{color:rgb(101,101,101)}
span#textcolor160{color:rgb(63,160,112)}
span#textcolor161{color:rgb(0,112,33)}
span#textcolor162{color:rgb(63,160,112)}
span#textcolor163{color:rgb(0,112,33)}
span#textcolor164{color:rgb(101,101,101)}
span#textcolor165{color:rgb(101,101,101)}
span#textcolor166{color:rgb(63,160,112)}
span#textcolor167{color:rgb(0,112,33)}
span#textcolor168{color:rgb(101,101,101)}
span#textcolor169{color:rgb(101,101,101)}
span#textcolor170{color:rgb(63,160,112)}
span#textcolor171{color:rgb(0,112,33)}
span#textcolor172{color:rgb(63,160,112)}
span#textcolor173{color:rgb(0,112,33)}
span#textcolor174{color:rgb(0,112,33)}
span#textcolor175{color:rgb(101,101,101)}
span#textcolor176{color:rgb(63,160,112)}
/* end css.sty */

